* {
  margin: 6px;
  padding: 5px;
}

body {
  background-color: antiquewhite;
  font-family: Arial, Helvetica, sans-serif;
}

.timer-container {
  color: rgb(0, 0, 0);
  font-size: 30px;
  text-align: right;
  margin-right: 60px;
}

.question {
  color: black;
  font-size: 25px;
  margin: auto;
}
#button-start {
  color: rgb(255, 0, 0);
  background-color: rgb(255, 255, 255);
  padding: 5px;
}
.button-answer {
  color: rgb(0, 0, 0);
  background-color: rgb(178, 157, 255);
  padding: 5px;
  border-radius: 5px;
}
#button-score {
  margin: 15px;
  color: blueviolet;
}
#button-reset-score {
  margin: 15px;
  color: rgb(0, 255, 136);
}
.score {
  padding: 4px;
  color: blueviolet;
}
li {
  list-style-type: none;
  font-size: 20px;
}

.score-style {
  background-color: white;
  font-size: 20px;
  max-width: 300px;
  min-height: 300px;
}

.initials-form {
  /* background-color: white; */
  font-size: 20px;
  max-width: 300px;
  min-height: 25px;
}
